################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SandboxTune/.vs/SandboxTune
/SandboxTune/SandboxTune/Client/obj
/SandboxTune/SandboxTune/Server/obj
/SandboxTune/SandboxTune/Shared/obj
